<!-- <p>server works!</p> -->
<button
  class="btn btn-primary"
  [disabled]="allowNewServer"
  (click)="displayStatus()"
>
  Add Server
</button>
<p
  *ngIf="displayServer; else elseBlock"
  [ngStyle]="{ backgroundColor: getColor() }"
  [ngClass]="{ online: serverStatus === 'online' ? true : false }"
>
  {{ "Server" }} with ID {{ serverId }} is {{ serverStatus }}
</p>
<ng-template #elseBlock>
  <p>Server was not created!</p>
</ng-template>
<p *ngFor="let i of [].constructor(5); let idx = index">
  Paragraph {{ idx + 1 }}
</p>